/* fragment without effect */
.reveal .slides section .fragment.none {
    opacity: 1;
    visibility: visible;
}

/* selfdraw */
@keyframes selfdraw {
    from {
        stroke-dashoffset: 100px;
    }
    to {
        stroke-dashoffset: 0;
    }
}

section.future .section-selfdraw {
    animation: none;
}

.group-selfdraw {
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
}

.section-selfdraw,
svg.current-fragment .svg-selfdraw,
g.current-fragment .group-selfdraw {
    stroke-dasharray: 100px;
    animation: selfdraw 1s ease-out both;
}

/* appear */
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section.future .section-appear {
    animation: none;
}

.group-appear {
    opacity: 0;
    animation: none;
}

.section-appear,
svg.current-fragment .svg-appear,
g.current-fragment .group-appear {
    animation: appear 1s ease both;
}

.history-line {
    stroke: darkblue;
    fill: transparent;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.history-line.history-box {
    fill: none;
}

.full-size-svg {
    display: block;
    width: 800px;
    height: 505px;
    margin: 20px auto;
}

.right-arrow-svg {
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    height: 40px;
    margin: 0 10px;
}

svg.right-arrow-svg .selfdraw {
    stroke-dasharray: 100px;
    animation: selfdraw 0.6s ease-out both;
}

section.future svg.right-arrow-svg .selfdraw {
    animation: none;
}
