/* fragment without effect */
.reveal .slides section .fragment.none {
    opacity: 1;
    visibility: visible;
}

/* rotate */
@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/* selfdraw */
@keyframes selfdraw {
    from {
        stroke-dashoffset: 100px;
    }
    to {
        stroke-dashoffset: 0;
    }
}

section.future .section-selfdraw {
    animation: none;
}

.group-selfdraw,
.selfdraw-container .selfdraw {
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
}

.section-selfdraw,
svg.current-fragment .svg-selfdraw,
g.current-fragment .group-selfdraw,
.selfdraw-container.visible .selfdraw {
    stroke-dasharray: 100px;
    animation: selfdraw 1s ease-out both;
}

/* appear */
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section.future .section-appear {
    animation: none;
}

.group-appear {
    opacity: 0;
    animation: none;
}

.section-appear,
svg.current-fragment .svg-appear,
g.current-fragment .group-appear {
    animation: appear 1s ease both;
}

g.visible .group-highlight {
    fill: red;
}

.history-line {
    stroke: darkblue;
    fill: transparent;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.history-line.history-box {
    fill: none;
}

.full-size-svg {
    display: block;
    width: 800px;
    height: 505px;
    margin: 20px auto;
}

.right-arrow-svg {
    vertical-align: middle;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.down-arrow-svg {
    display: block;
    width: 80px;
    height: 50px;
    margin: 0 auto;
}

svg.right-arrow-svg .svg-selfdraw,
svg.down-arrow-svg .svg-selfdraw {
    stroke-dasharray: 100px;
    animation: selfdraw 0.6s ease-out both;
}

section.future svg.right-arrow-svg .svg-selfdraw,
section.future svg.down-arrow-svg .svg-selfdraw {
    animation: none;
}

.highlight {
    color: red;
}

html .left-align-box {
    text-align: left;
    display: inline-block;
    vertical-align: top
}

.rollup-button {
    display: block;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}

.rollup-button:hover .rollup-button-line {
    stroke: red;
}

.rollup-button-image {
    animation: 1s ease 0.6s both appear;
}

.rollup-button-line {
    stroke-dasharray: 100px;
    animation: 1s ease-out 0.8s both selfdraw;
}

section.future .rollup-button-image,
section.future .rollup-button-line {
    animation: none;
}

html .rollup-button .rollup-button-image {
    height: 60px;
    margin: 5px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
}

.fragment.turn-red.visible {
    background-color: #ffbbbb;
}

.fragment.turn-red.current-fragment {
    outline: 2px solid red;
}

.fragment.show-red-once {
    background-color: red;
}

.fragment.show-red-once,
.fragment.show-green-once,
.fragment.show-blue-once {
    opacity: 0 !important;
    color: white;
    border-radius: 3px;
    margin-left: 50px;
    padding: 0 8px;
}

.fragment.show-red-once span.hljs-keyword,
.fragment.show-green-once span.hljs-keyword,
.fragment.show-blue-once span.hljs-keyword,
.fragment.show-red-once span.hljs-literal,
.fragment.show-green-once span.hljs-literal,
.fragment.show-blue-once span.hljs-literal {
    color: white;
}

.fragment.show-red-once.current-fragment,
.fragment.show-green-once.current-fragment,
.fragment.show-blue-once.current-fragment {
    opacity: 1 !important;
}

.fragment.turn-green.visible {
    background-color: #bbffbb;
}

.fragment.turn-green.current-fragment {
    outline: 2px solid green;
}

.fragment.show-green-once {
    background-color: green;
}

.fragment.show-blue-once {
    background-color: blue;
}
